$background: linear-gradient(to bottom, #d5ab69 42.71%, #bf8549 76.56%);
$blue400: #4fa4e0;
$black500: #333238;
$black400: #4b484b;
$black300: #969497;
$brown300: #d6ab6d;
$white500: #ffffff;
$mainFont: 'Inter', sans-serif;
